---
---

@import "example";
@import "syntax-highlight";

body {
  font-family: 'Roboto', Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', Palatino, serif;
}

code {
  font-family: 'Roboto Mono', 'Courier New', monospace;
}

.highlight {
  padding: 20px;
}
