---
---

@import "syntax-highlight";
@import "code";
@import "post";

body {
  font-family: 'Roboto', Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', Palatino, serif;
}
