---
---

@import "syntax-highlight";
@import "code";
@import "post";
@import "header";
@import "nav";

body {
  font: 16px/1.5 -apple-system,BlinkMacSystemFont,"avenir next",avenir,"Segoe UI","lucida grande","helvetica neue",helvetica,"Fira Sans",roboto,noto,"Droid Sans",cantarell,oxygen,ubuntu,"franklin gothic medium","century gothic","Liberation Sans",sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #454545;
}

.background {
  width: 100%;
  background-image: url(/assets/images/geek-half.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 216px;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: -5;
}

h1 {
  font-size: 52px;
  font-weight: normal;
}

h2 {
  margin-right: auto;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
}

a {
  color: #07a;
}

a:visited {
  color: #941352;
}
