.post {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  word-break: break-word;

  img {
    max-width: 100%;
    height: auto;
  }
}

.post__container {
  max-width: 700px;
  padding: 0 40px 0 40px;
}
